
.container {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    justify-content: space-around;
}

.mobScreen {
    display: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}


.welcome {
    color:#FF0303;
}



.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 478px;

    p {
        a {
            text-decoration: none;
            color: #FF0303;
        }
    }

}

.error {
    font-size: small;
    color: red;
    margin: 0;
}

.lapHeading {
    width: 345px;
    height: 33px;
    font-size: 27px;
    font-weight: 700;
    color: #1A1A1A;
    padding: 0px 20px;
}

.signup {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;

    input {
        padding: 10px;
        border-radius: 4px;
        border: 1px solid rgba(0, 0, 0, 0.2);
    }

    button {
        padding: 10px;
        background-color: #FF0303;
        color: #FFF;
        border: none;
        border-radius: 4px;
    }
}

.full {
    grid-column: span 2;
}

.right {
    background-image: url('/laptopBg.png');
    background-size: contain;
    background-repeat: no-repeat;
    // background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
    // width: 30vw;
    // height: auto;
    // max-width: 693px;
    height: 519px;
    width: 519px;
    // border: 1px solid red;

    img {
        width: 392px;
        height: 409px;
        // border: 1px solid green; 
    }
}

.check {
    display: flex;
    align-items: center;

    input[type="checkbox"] {
        width: 18px;
        height: 18px;
        // border: 2px solid #FF0303;
        accent-color: #FF0303;
        cursor: pointer;
    }

    p {
    margin: 0px;
    padding: 0px;
    }
}

@media (max-width: 768px) {
    .container {
        align-items: center;
        width: 100%;
        gap: 10px;
    }

    .left {
        width: 100%;
    }

    .signup {
        display: flex;
        flex-direction: column;
        width: 90vw;
        margin: auto;
    }

    .right {
        display: none;
    }

    .lapHeading {
        display: none;
    }

    .mobScreen {
        display: flex;
        gap: 2px;
    }
}


.mobHeading {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 20px 0px;

    p {
        margin: 0px;
    }
}

// .signup {
//     margin-top: 80px;
//     margin-right: 80px;
//     display: flex;
//     flex-direction: column;
//     gap: 20px;
//     flex: 1;
//     width: 400px;
//     // border: 1px solid yellow;
//     padding: 40px;

//     input {
//         padding: 16px;
//         border-radius: 8px;
//         border: none;
//     }

//     button {
//         padding: 16px;
//         border-radius: 8px;
//         border: none;
//         background-color: rgb(61, 61, 82);
//         color: white;
//         font-size: medium;

//         &:hover {
//             background-color: darken(rgb(61, 61, 82), 5%);
//             scale: 102%
//         }
//     }
// }